button {
    margin-top: 20px;
    padding: 12px 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255, 0.5);
    background: #82aead;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
 button:hover {
    background: #709696;
    color: aliceblue;
  }